.header {
  padding: 60px;
  text-align: center;
  background: #F1DEDE;
  color: white;
  font-size: 30px;
  line-height: 0.5
}
.column {
  float: left;
  padding: 10px;
  color: white;
  font-size: 20px;
}

.left {
  width: 75%;
  background: #BBACC1;
}
